.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19C8DB;
    height: 85px;
    padding-left:16px;
}

.cabecalho__menu i::before {
    content: "\e0c9";
    color: #E9F9F9;
}

.cabecalho__logo {
    width: 85px;
}

@media screen and (min-width:1024px) {
    .cabecalho {
        padding-left: 0;
        justify-content: center;
    }

    .cabecalho {
        display: none;
    }
}