.menu {
    background-color: #19C8DB;
}

.menu__item {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    color: #E9F9F9;
    left: -100vw;
    position: absolute;
    transition: .25s;
    width: 100%;
}

.menu__item--ativo {
    position: relative;
    left: 0;
    transition: .25s;
    box-sizing: border-box;
    padding: 1rem;
}

.menu__item-logo {
    display: none;
}

.menu__link {
    display: flex;
}

.menu__link i {    
    width: 20px;
    margin-right: 8px;
}

.menu__link--pousada i::before {
    content: "\e803";
}

.menu__link--acomodacoes i::before {
    content: "\e236";
}

.menu__link--blog i::before {
    content: "\e800";
}

.menu__link--duvidas i::before {
    content: "\e802";
}

.menu__link--contato i::before {
    content: "\e801";
}

@media screen and (min-width:1024px) {
    .menu {
        grid-column: 1;
        height: 100vh;
    }
    
    .menu__item {
        left: 0;
        position: relative;
        width: auto;
        padding: 8px;
    }

    .menu__item-logo {
        width: 85px;
        display: inline;
    }

    .menu__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        gap: 5px;
        border-radius: 5px;
        height: 3rem;
    }

    .menu__link i {    
        margin-right: 0;
        width: auto;
        justify-self: center;
    }
}